.uiBreadcrumb {
	margin: 0 0 30px
}

.uiBreadcrumb p {
    padding: 5px 0 5px 50px;
	color: #0071BB;
}

.uiBreadcrumb img{
	margin: 0 5px;
    vertical-align: middle;
}

.uiBreadcrumb a{
	color: #0071BB;
    cursor: pointer;
    text-decoration: underline;
}
.uiBreadcrumb a:hover{
	text-decoration: none;
}

.uiBreadcrumb span{
	color: #0071BB;
}

.uiTtl{
	border-bottom: 1px solid #D5E7F0;
    color: #0071BB;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 2px 10px;
}

#add_to_preorder, .waitsubmit{
	margin: 0.9em auto 0;
}

.pp_available_home{
    color: #990000;
    margin-top: 1px;
    font-weight: bold;
    font-size: 11px;
}

#featured-products_block_center li {
    height: 245px!important;
}

#mywaitlist td.align_center{
    text-align: center;
}

#footer .belvg_preorder_my_account img{
    display: none;
}

.functional-buttons .belvg_preorder_list {
	border-right: 1px solid #d6d4d4;
	font-weight: bold;
	color: #42B924;
}

#oosHook {margin-bottom: 10px}